@media screen and (max-width: 500px) {
  .input-field {
    width: 200px !important;
  }
  .todo-task-container {
    width: 60% !important;
  }
}

.input-field {
  width: 300px;
}

.task:hover {
  background-color: rgb(194, 192, 192);
}
